Binaries

Content/Geometry
Content/Mannequin
Content/FirstPerson
Content/PolygonPrototype
Content/SpringLandscape
Content/StarterContent

DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace